<app-menu></app-menu>
<div class="absolute bg-white h-fit rounded-3xl p-8 mx-10 lg:mx-40 md:mx-28 sm:mx-20 mt-28 shadow" style="width: -webkit-fill-available;">
  <div class="flex justify-center w-full">
    <img class="h-80" src="assets/pictures/security.png" alt="">
  </div>
  <div [attr.dir]="getDirection()">
    <ol class="px-10">
      <li class="py-3 border-b border-b-gray-100">
        <div class="flex gap-2">
          <div
            class="w-8 h-8 bg-primary text-center font-semibold text-white rounded-full flex items-center justify-center font-mono">
            1
          </div>
          <div class="self-end font-semibold text-lg">
            {{'SEC1' | translate}}
          </div>
        </div>
        <div class="pl-10 pt-3">
          {{'SEC1DET' | translate}}
        </div>
      </li>
      <li class="py-3 border-b border-b-gray-100">
        <div class="flex gap-2">
          <div
            class="w-8 h-8 bg-primary text-center font-semibold text-white rounded-full flex items-center justify-center font-mono">
            2
          </div>
          <div class="self-end font-semibold text-lg">
            {{'SEC2' | translate}}
          </div>
        </div>
        <div class="pl-10 pt-3">
          {{'SEC2DET' | translate}}
        </div>
      </li>
      <li class="py-3 border-b border-b-gray-100">
        <div class="flex gap-2">
          <div
            class="w-8 h-8 bg-primary text-center font-semibold text-white rounded-full flex items-center justify-center font-mono">
            3
          </div>
          <div class="self-end font-semibold text-lg">
            {{'SEC3' | translate}}
          </div>
        </div>
        <div class="pl-10 pt-3">
          {{'SEC3DET' | translate}}
        </div>
      </li>
      <li class="py-3 border-b border-b-gray-100">
        <div class="flex gap-2">
          <div
            class="w-8 h-8 bg-primary text-center font-semibold text-white rounded-full flex items-center justify-center font-mono">
            4
          </div>
          <div class="self-end font-semibold text-lg">
            {{'SEC4' | translate}}
          </div>
        </div>
        <div class="pl-10 pt-3">
          {{'SEC4DET' | translate}}
        </div>
      </li>
      <li class="py-3 border-b border-b-gray-100">
        <div class="flex gap-2">
          <div
            class="w-8 h-8 bg-primary text-center font-semibold text-white rounded-full flex items-center justify-center font-mono">
            5
          </div>
          <div class="self-end font-semibold text-lg">
            {{'SEC5' | translate}}
          </div>
        </div>
        <div class="pl-10 pt-3">
          {{'SEC5DET' | translate}}
        </div>
      </li>
      <li class="py-3 border-b border-b-gray-100">
        <div class="flex gap-2">
          <div
            class="w-8 h-8 bg-primary text-center font-semibold text-white rounded-full flex items-center justify-center font-mono">
            6
          </div>
          <div class="self-end font-semibold text-lg">
            {{'SEC6' | translate}}
          </div>
        </div>
        <div class="pl-10 pt-3">
          {{'SEC6DET' | translate}}
        </div>
      </li>
    </ol>
  </div>
</div>