<app-menu></app-menu>
<div *ngIf="getDataObject('customer.annonce') as annonce"
    class="absolute bg-white h-fit rounded-3xl p-8 mx-10 lg:mx-40 md:mx-28 sm:mx-20 mt-28 shadow"
    style="width: -webkit-fill-available;">
    <div class="w-full p-10 pb-4">
        <div class="flex justify-between p-2 pb-6">
            <ol class="relative border-s border-gray-200 dark:border-gray-700 text-gray-500 font-medium">
                <li class="mb-2 ms-6">
                    <div
                        class="absolute w-3 h-3 bg-[#6B50F6] rounded-full -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                    </div>
                    <div>{{annonce?.data_adresse?.d}}</div>
                </li>
                <li class="mb-8 ms-6">
                    <div
                        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-2 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                    </div>
                </li>
                <li class="ms-6">
                    <div
                        class="absolute w-3 h-3 bg-[#6B50F6] rounded-full mt-6 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                    </div>
                    <div class=" pt-3">
                        {{annonce?.data_adresse?.a}}
                    </div>
                </li>
            </ol>
        </div>
        <div class="my-6 grid lg:grid-cols-3 gap-y-5 gap-x-12 items-center">
            <div class="">
                <div for="" class="text-gray-600 text-sm m-1">{{'TYPEVEHI' | translate}}</div>
                <p-dropdown [options]="getDataList('vehicules.liste_type_vehicules')" [(ngModel)]="vars.type_vehicule"
                    optionLabel="name" optionValue="id" [showClear]="true" placeholder="Pickup">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-x-3">
                            <img [src]="'assets/vehicules/'+selectedOption.code + '.png'" style="width: 30px" />
                            <div>{{selectedOption.libelle}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-vehicule pTemplate="item">
                        <div class="flex align-items-center gap-x-3">
                            <img [src]="'assets/vehicules/'+vehicule.code + '.png'" style="width: 30px" />
                            <div>{{vehicule.libelle}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="">
                <span class=" text-gray-600 text-sm m-1 ">{{'TILL' | translate}}: </span>
                <input type="date" name="date_deb" ngClass="" displayFormat="DD/MM/YYYY"
                    [(ngModel)]="annonce.date_fin" />
            </div>
            <div class="">
                <label for="" class="text-gray-600 text-sm m-1">{{'WEIGHT' | translate}}:</label>
                <input type="number" name="poids" placeholder="10 Kg" class="" [(ngModel)]="annonce.poids" />
            </div>
            <div class="col-span-2 ">
                <label for="" class="text-gray-600 text-sm m-1">{{'DESC' | translate}}:</label>
                <textarea class="
                " placeholder="Saisir votre description..." type="text" rows="9" [(ngModel)]="annonce.description"
                    name="description"></textarea>
            </div>
        </div>
        <div class="w-fit">
            <div *ngIf="!isRecording && !blobUrl"
                class="bg-primary text-white gap-x-2 px-3 py-2 flex items-center rounded-lg cursor-pointer tracking-wide"
                id="mic-modal" (click)="startRecording()">
                <i class="pi pi-microphone text-[2.1rem]"></i>
                {{'SAVEAUDIO' | translate}}
            </div>
            <div *ngIf="isRecording && !blobUrl" (click)="stopRecording()"
                class="bg-primary text-white p-3 gap-x-4 flex items-center rounded-lg cursor-pointer tracking-wide">
                <i class="pi pi-pause-circle text-[2rem]"></i>
                <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
            </div>
            <div>
                <audio *ngIf="!isRecording && blobUrl" controls>
                    <source [src]="blobUrl" type="audio/webm">
                </audio>
            </div>
        </div>
        <div class="text-center pt-4">
            <button pButton class="bg-primary text-white px-4 py-2 tracking-wide" (click)="visibleDialog = true">
                <i class="pi pi-camera text-3xl mr-2"></i>{{'CHOOSEIMG' | translate}}
            </button>
            <div class="flex w-full flex-wrap gap-5 justify-center">
                <div class="p-2 col-span-3" *ngFor="let img of getDataList('annonce.medias')">
                    <div class="mt-2 ml-0 justify-center gap-[0.7rem] flex w-full rounded-2xl">
                        <div class="image-area p-[1px] bg-black">
                            <div class="hover01 column">
                                <figure>
                                    <img [src]="api+'/files/'+img.fichier+'/'+img.nom" alt=""
                                        class="h-[8rem] shadow rounded-lg">
                                </figure>
                            </div>
                            <div class="remove-image cursor-pointer" href="#" style="display: inline;"
                                (click)="deleteMedia(img.id)">&#215;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-20 text-center w-full">
            <button pButton class="dark" (click)="MajAnnouncement(annonce)">{{'SAVE' | translate}}</button>
        </div>
    </div>
</div>

<p-dialog [(visible)]="visibleDialog" [modal]="true" header="Ajouter les images" [draggable]="false"
    [style]="{ width: '55rem' }" [resizable]="false">
    <div class="px-4 pt-10 pb-2">
        <input type="file" multiple (change)="onFileSelected($event)" accept="image/*"
            class="text-sm text-grey-500 rounded-lg w-full file:mr-5 file:py-2 file:px-6 file:rounded-full file:border-0 file:text-sm file:font-medium file:bg-[#7460e6] file:text-white bg-gray-100 hover:file:cursor-pointer hover:file:bg-[#5b63d4]"
            required name="pic" />
    </div>
    <div *ngIf="selectedFiles.length > 0" class="mt-6 p-4">
        <div class="flex gap-x-16 gap-y-8 flex-wrap justify-center">
            <div *ngFor="let imageUrl of selectedFiles; let i = index">
                <div class="relative">
                    <button class="remove-button " (click)="removeImage(i)">
                        <i class="pi pi-times text-white rounded-full bg-red-600 p-2"></i>
                    </button>
                    <img [src]="imageUrl" alt="Captured Image" class="h-[9rem] w-full rounded-lg" />
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pt-8">
        <button pButton label="Enregistrer" class="dark" (click)="saveMedias()"></button>
    </div>
</p-dialog>