<app-menu></app-menu>
<div class="absolute items-center bg-white h-fit rounded-3xl p-6 mx-40 mt-28 text-lg shadow"
  style="width: -webkit-fill-available;" *ngIf="getUser() as user">
  <ul class="p-6 divide-gray-200 dark:divide-gray-700">
    <li class="py-4 border-b-[1px] border-b-gray-200 cursor-pointer"
      (click)="setDataString('settings.form', 'cmpt'); setOpen(true)">
      <div class="flex items-center gap-4 text-black font-medium truncate dark:text-white">
        {{'COMPTE' | translate}}
      </div>
    </li>
    <li class="py-4 border-b-[1px] border-b-gray-200 cursor-pointer"
      (click)="setDataString('settings.form', 'lng'); setOpen(true)">
      <div class="">
        {{'LNG' | translate}}
      </div>
    </li>
    <li *ngIf="user.fonction == 'drv'" class="py-3 border-b-[1px] border-b-gray-200 cursor-pointer"
      (click)="refreshPosition(user)">
      <div class="">
        {{'POSTIONREFRESH' | translate}}
      </div>
    </li>
    <li class="py-4 border-b-[1px] border-b-gray-200 cursor-pointer"
      (click)="setDataString('settings.form', 'abt'); setOpen(true)">
      <div class="">
        {{'PROPOS' | translate}}
      </div>
    </li>
    <li class="py-4 cursor-pointer">
      <div class="flex items-center gap-4 text-black font-medium truncate dark:text-white"
      (click)="setDataString('settings.form', 'rat'); setOpen(true)">
        {{'RATE' | translate}}
      </div>
    </li>
  </ul>
  <div class="pt-28 px-5 w-full flex justify-center">
    <div>
      <button type="button" (click)="logout()"
        class="mb-2 w-full text-white bg-primary hover:bg-primary focus:ring-4 focus:ring-purple-100 rounded-lg text-lg px-4 py-2.5  dark:hover:bg-primary focus:outline-none dark:focus:ring-night-200">
        {{'LOGOUT' | translate}}
      </button>

      <button type="button" id="present-alert" (click)="confirmDeleteAccount($event)"
        class="mb-8 w-full text-red-600 bg-[#F3F3F3] hover:bg-[#DCDCDC] focus:ring-4 focus:ring-purple-100 rounded-lg text-lg px-4 py-2.5  dark:hover:bg-primary focus:outline-none dark:focus:ring-night-200">
        {{'ACCDEL' | translate}}
      </button>
      <p-toast baseZIndex="999999"/>
      <p-confirmPopup #cp></p-confirmPopup>
    </div>
  </div>
</div>

<p-dialog [(visible)]="isModalOpen" [modal]="true" [draggable]="false" [resizable]="false" [contentStyle]="{'overflow':'hidden'}" [style]="{width: '40rem'}" baseZIndex="999999">
  <ng-template pTemplate="content">
    <div class="p-4">
      <compte-form *ngIf="getDataString('settings.form')==='cmpt'"></compte-form>
      <langage-form *ngIf="getDataString('settings.form')==='lng'"></langage-form>
      <about *ngIf="getDataString('settings.form')==='abt'"></about>
      <rating *ngIf="getDataString('settings.form')==='rat'"></rating>
    </div>
  </ng-template>
</p-dialog>
