<app-menu></app-menu>
<div class="">
  <div *ngIf="getDataList('vehicules.liste_vehicules').length === 0" class="w-full p-40">
    <div class=" bg-white rounded-lg shadow p-56">
      <div class="justify-center flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon"
          style="width: 3rem; height: 3rem;vertical-align: middle;fill: currentColor;overflow: hidden; fill: rgb(214, 214, 214);"
          viewBox="0 0 1024 1024" version="1.1">
          <path
            d="M831.7 369.4H193.6L64 602v290.3h897.2V602L831.7 369.4zM626.6 604.6c0 62.9-51 113.9-114 113.9s-114-51-114-113.9H117.5l103.8-198h582.5l103.8 198h-281zM502.2 131h39.1v140.6h-39.1zM236.855 200.802l27.647-27.647 99.419 99.418-27.648 27.648zM667.547 272.637l99.418-99.419 27.648 27.648-99.418 99.418z" />
        </svg>
      </div>
      <div class="text-center text-[#bbbbbb] font-medium text-sm tracking-wide">{{'EMPTYVEHI' | translate}}</div>
    </div>
  </div>
  <div *ngIf="getDataList('vehicules.liste_vehicules').length > 0" class="w-full pt-32 px-32 gap-6 ">
    <p-card *ngFor="let vehicule of getDataList('vehicules.liste_vehicules')">
      <div>
        <div class="flex text-lg gap-2 w-fit p-3 rounded-xl  bg-gray-50">
          <div class=" text-black pr-7 text-center text-lg font-bold first-letter:uppercase">
            {{vehicule.immatriculation}}<span class=" text-sm font-light w-fit"> -
              {{vehicule.type_vehicule.libelle}}</span>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let pic of vehicule.medias" class="flex items-center justify-center w-full p-2">
          <label
            class="flex flex-col items-center justify-center w-full h-52 border-[1px] border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <p *ngIf="!vars.verso" class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                <span class="font-semibold">
                  <ng-container *ngIf="pic.mdl === 'pv'; else rectoOrVerso">
                    {{ 'PICVEHI' | translate }}
                  </ng-container>
                  <ng-template #rectoOrVerso>
                    <ng-container *ngIf="pic.mdl === 'recto'; else verso">
                      {{ 'CGRECTO' | translate }}
                    </ng-container>
                    <ng-template #verso>
                      {{ 'CGVERSO' | translate }}
                    </ng-template>
                  </ng-template>
                </span>
              </p>
              <img *ngIf="pic" [src]="api+'/files/'+pic.fichier+'/'+pic.nom" alt="Captured Image"
                class="h-32 w-full rounded-lg" />
              <img *ngIf="!pic" src="assets/pictures/none1.png" class="h-32 w-full rounded-lg" />
            </div>
          </label>
        </div>
      </div>
    </p-card>
  </div>
</div>

<div class="mb-10 mt-20 text-center w-full" (click)="vars.isopen = true">
  <button class="text-white bg-primary hover:bg-primary-700 focus:ring-4 focus:ring-purple-200
  font-medium rounded-lg text-lg px-8 py-2.5 dark:hover:bg-primary focus:outline-none dark:focus:ring-night-200">{{'ADDVEHI' | translate}} </button>
</div>
<p-dialog [(visible)]="vars.isopen" [style]="{ width: '45rem' }" [modal]="true" [draggable]="false" baseZIndex="99999"
  dismissableMask="false" [resizable]="false" header="{{'ADDVEHI' | translate}}">
  <app-form-vehicule></app-form-vehicule>
</p-dialog>

  <!-- <p-dialog [(visible)]="vars.isopen" [style]="{ width: '40rem' }" [modal]="true" [draggable]="false"
    dismissableMask="false" [resizable]="false">
    <div *ngIf="getDataObject('vehicule.current_vehicule') as vehicule" class="opn-padding">
      <div class="flex text-lg gap-2 pl-3 pb-3 pt-3 w-fit p-3 rounded-xl  bg-gray-50">
        <div class=" text-black pr-7 text-center text-lg font-bold first-letter:uppercase">
          {{vehicule.immatriculation}}
        </div>
      </div>
      <div class="p-2">
        <div class="flex gap-2 p-1">
          <span
            class="bg-gray-100 text-gray-700 rounded-md px-2 py-1 text-xs font-extralight p-1">{{vehicule.type_vehicule.libelle}}</span>
        </div>
      </div>
      <div *ngFor="let pic of vehicule.medias" class="flex items-center justify-center w-full p-5">
        <label
          class="flex flex-col items-center justify-center w-full h-52 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <img [src]="api+'/files/'+pic.fichier+'/'+pic.nom" alt="Captured Image" class="h-24 w-32 rounded-lg" />
            <p *ngIf="!vars.verso" class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">
                <ng-container *ngIf="pic.mdl === 'pv'; else rectoOrVerso">
                  {{ 'PICVEHI' | translate }}
                </ng-container>
                <ng-template #rectoOrVerso>
                  <ng-container *ngIf="pic.mdl === 'recto'; else verso">
                    {{ 'CGRECTO' | translate }}
                  </ng-container>
                  <ng-template #verso>
                    {{ 'CGVERSO' | translate }}
                  </ng-template>
                </ng-template>
              </span>
            </p>
          </div>
        </label>
      </div>
    </div>
  </p-dialog> -->
<!-- <ion-footer [translucent]="true">
  <ion-toolbar class="text-center">
    <div class="pt-1" (click)="openForm()">
      <button
        class="mb-4 text-white bg-primary hover:bg-primary-700 focus:ring-4 focus:ring-purple-100 font-medium rounded-lg text-base px-8 py-2.5 dark:hover:bg-primary focus:outline-none dark:focus:ring-night-200">{{'ADDVEHI'
        | translate}} </button>
    </div>
  </ion-toolbar>
</ion-footer> -->