<app-menu></app-menu>
<div class="absolute bg-white h-fit rounded-3xl p-8 mx-10 lg:mx-40 md:mx-28 sm:mx-20 mt-28 shadow" style="width: -webkit-fill-available;">
  <div class="pt-16 text-center">
    <div class="text-3xl font-bold tracking-wide">
      <div>
        {{'PROPTITTLE1' | translate}}
      </div>
      <div>
        <span class="under">{{'PROPTITTLE2' | translate}}</span>
      </div>
      <div class="text-base p-4">
        {{'PROPDESC' | translate}}
      </div>
    </div>
  </div>
</div>