::ng-deep .app-menu {
    .p-sidebar-content {
        padding: 0 !important;
    }
}

ul li:before {
    display: none;
}

#v3 .m-header {
    padding: 0 !important;
}

#v3 .m-header__inner {
    width: auto !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}