<div class="px-6">
    <div class="mt-3">
        <input pInputText
            [placeholder]="'PLQIMMTR' | translate" type="text" [(ngModel)]="vars.immatriculation"
            name="Plaque d'immatriculation">
    </div>
    <div class="my-3">
        <p-dropdown [options]="getDataList('vehicules.liste_type_vehicules')" [(ngModel)]="vars.type_vehicule"
            optionLabel="name" [showClear]="true" placeholder="Type de véhicule">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-x-3">
                    <img [src]="'assets/vehicules/'+selectedOption.code + '.png'" style="width: 30px" />
                    <div>{{selectedOption.libelle}}</div>
                </div>
            </ng-template>
            <ng-template let-vehicule pTemplate="item">
                <div class="flex align-items-center gap-x-3">
                    <img [src]="'assets/vehicules/'+vehicule.code + '.png'" style="width: 30px" />
                    <div>{{vehicule.libelle}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
</div>
<div>
    <div class="flex items-center justify-center w-full p-5">
        <label
        class="flex flex-col items-center justify-center w-full h-52 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <input type="file" (change)="onFileSelected($event, 'pv')" accept="image/*" hidden />
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <img *ngIf="vars.pv" [src]="vars.pv" alt="Captured Image" class="h-36 w-48 rounded-lg" />
            <p *ngIf="!vars.pv" class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">{{'PICVEHI' | translate}}</span>
            </p>
        </div>
        </label>
    </div>
    
    <div class="flex items-center justify-center w-full p-5">
        <label
        class="flex flex-col items-center justify-center w-full h-52 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <input type="file" (change)="onFileSelected($event, 'recto')" accept="image/*" hidden />
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <img *ngIf="vars.recto" [src]="vars.recto" alt="Captured Image" class="h-36 w-48 rounded-lg" />
            <p *ngIf="!vars.recto" class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">{{'CGRECTO'| translate}}</span>
            </p>
        </div>
        </label>
    </div>
    
    <div class="flex items-center justify-center w-full p-5">
        <label
        class="flex flex-col items-center justify-center w-full h-52 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <input type="file" (change)="onFileSelected($event, 'verso')" accept="image/*" hidden />
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <img *ngIf="vars.verso" [src]="vars.verso" alt="Captured Image" class="h-36 w-48 rounded-lg" />
            <p *ngIf="!vars.verso" class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">{{'CGVERSO' |translate}}</span>
            </p>
        </div>
        </label>
    </div>
</div>
<div class="pt-4 text-center" (click)="saveMedias()">
    <button class="text-white bg-primary hover:bg-primary-700 focus:ring-4 focus:ring-purple-200
    font-medium rounded-lg px-8 py-2.5 dark:hover:bg-primary focus:outline-none dark:focus:ring-night-200">{{'SAVE' | translate}}</button>
</div>


  