<div [attr.dir]="getDirection()" class="h-full mb-10 p-2" *ngIf="getUser() as user">
  <div class="p-2">
    <div class="flex justify-center pb-10">
      <div class="img self-center cursor-pointer">
        <div *ngIf="vars.imageSrc">
          <img [src]="vars.imageSrc" alt="" class="h-36 w-36 rounded-full shadow" (click)="triggerFileInput()">
        </div>
        <div *ngIf="user.medias.length === 0 && !vars.imageSrc" class="px-4">
          <img src="assets/pictures/none.png" alt="" class="h-36 w-36 rounded-full shadow" (click)="triggerFileInput()">
        </div>
        <div *ngIf="user.medias.length > 0 && !vars.imageSrc" class="px-4">
          <img [src]="api+'/files/'+user.medias[0].fichier+'/'+user.medias[0].nom" alt=""
            class="h-28 w-28 rounded-full shadow" (click)="triggerFileInput()">
        </div>
        <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden>
      </div>
    </div>
    <div class="text-left">
      <div class="text-left mt-2">
        <input pInputText type="text" class="text-gray-700 p-4" [(ngModel)]="user.nom" />
      </div>
      <div class="relative mt-4">
        <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" id="flag-icons-ma" viewBox="0 0 640 480"
            data-arp-injected="true">
            <path fill="#c1272d" d="M640 0H0v480h640z" />
            <path fill="none" stroke="#006233" stroke-width="11.7"
              d="M320 179.4 284.4 289l93.2-67.6H262.4l93.2 67.6z" />
          </svg>
          <div class="font-semibold px-3">
            +212
          </div>
        </div>
        <input pInputText type="text" id="phone-input" [(ngModel)]="user.data_adresse.tel"
          aria-describedby="helper-text-explanation" class="py-4 px-24" [placeholder]="'PHONE' | translate" required />
      </div>
      <div class="mt-4">
        <input pInputText [placeholder]="'CIN' | translate" type="text" class="p-4"
          [(ngModel)]="user.data_adresse.cin" />
      </div>
      <div class="mt-4">
        <input pInputText [placeholder]="'EMAIL' | translate" type="text" class="p-4"
          [(ngModel)]="user.data_adresse.email" />
      </div>
    </div>
    <div class="text-right pt-8">
      <button type="button" class="w-full text-white bg-primary hover:bg-primary focus:ring-4 focus:ring-purple-100 rounded-lg  px-4 py-2.5 
        dark:hover:bg-primary focus:outline-none dark:focus:ring-night-200" (click)="submit(user)">{{'SAVE' |
        translate}}</button>
    </div>
  </div>
</div>