.tel {
  @apply font-semibold text-green-500 bg-green-50 text-lg p-1 rounded-lg;
}

.whatsIcon {
  @apply text-[1.3rem] text-white bg-green-600 rounded-full p-2;
}

.callIcon {
  @apply text-[1.3rem] text-white bg-green-600 rounded-full p-2;
}

.custom-marker {
  width: 20px;
  height: 20px;
  background-color: rgb(108, 57, 165);
  border-radius: 50%;
}
