/* styles.css or styles.scss */
::ng-deep app-myannouncement{
  .p-scrollpanel-bar {
    background-color: #cececec4;
  }  
.p-confirm-popup-footer{
  display: flex;
  justify-content: end;
  gap: 1rem;
}
}
  
